#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "appflowy"
name = "AppFlowy"
description.en = "Bring projects, wikis, and teams together with AI"
description.fr = "Rassembler des projets, des wikis et des équipes grâce à l'IA"

version = "0.9.64~ynh1"

maintainers = ["yalh76"]

[upstream]
license = "AGPL-3.0-only"
website = "https://appflowy.io/"
admindoc = "https://github.com/AppFlowy-IO/AppFlowy-Cloud/blob/main/doc/DEPLOYMENT.md"
userdoc = "https://docs.appflowy.io/docs/guides/appflowy/self-hosting-appflowy"
code = "https://github.com/AppFlowy-IO/AppFlowy-Cloud"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = "all"
multi_instance = false

ldap = false
sso = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    type = "group"
    default = "visitors"

    [install.admin]
    type = "user"

    [install.password]
    type = "password"

    [install.openai_api_key]
    ask.en = "Provide an OpenAI API KEY"
    type = "text"

[resources]

    [resources.sources]

    [resources.sources.main]
    url = "https://github.com/AppFlowy-IO/AppFlowy-Cloud/archive/refs/tags/0.9.64.tar.gz"
    sha256 = "d1865855dc2aaa470d004d05f680704062d8fe431528a1f53321471a6e7ed5c2"
    prefetch = false
    autoupdate.strategy = "latest_github_tag"

    [resources.sources.frontend]
    url = "https://github.com/AppFlowy-IO/AppFlowy-Web/archive/refs/tags/0.9.143.tar.gz"
    sha256 = "6495be5fe8cdf8856edd805488472e4d25552c2904459f78949e817f5f3635dc"
    
    [resources.sources.minio]
    extract = false
    in_subdir = false
    prefetch = false
    
    arm64.url = "https://dl.min.io/server/minio/release/linux-arm64/minio.RELEASE.2025-09-07T16-13-09Z"
    arm64.sha256 = "5c83cd2cf151717ba0243f73e1c7802ff36e272b67144bdd7f1f7d684fd6f03d"

    amd64.url = "https://dl.min.io/server/minio/release/linux-amd64/minio.RELEASE.2025-09-07T16-13-09Z"
    amd64.sha256 = "7c5bd8512c6e966455b1d198209358b2d191c77a83ab377c4073281065fb855f"

    # Autoupdate cannot work because minio assets are on a specific website ...
    #autoupdate.strategy = "latest_github_tag"

    [resources.sources.pgvector]
    url = "https://github.com/pgvector/pgvector/archive/refs/tags/v0.8.1.tar.gz"
    sha256 = "a9094dfb85ccdde3cbb295f1086d4c71a20db1d26bf1d6c39f07a7d164033eb4"

    [resources.system_user]

    [resources.install_dir]

    [resources.data_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]
    minio.default = 9000
    minio_console.default = 9001
    gotrue.default = 9999
    cloud.default = 8000
    admin_frontend.default = 3000
    ai.default = 5001
    web.default = 3001

    [resources.apt]
    packages = "rsync, openssl, libc6, libssl-dev, postgresql, redis, gcc, make, postgresql-server-dev-15\\|postgresql-server-dev-17, build-essential, libssl-dev, zlib1g-dev, libbz2-dev, libreadline-dev, libsqlite3-dev, curl, git, libncursesw5-dev, xz-utils, tk-dev, libxml2-dev, libxmlsec1-dev, libffi-dev, liblzma-dev, libpq-dev"

    [resources.database]
    type = "postgresql"

    [resources.nodejs]
    version = "20.19.0"
